<input type="hidden" id="articleId" value="{{id}}" />

<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.user_name}} on {{format_date date_created}}</p>
  <p>{{content}}</p>
  {{#if comments.length}}
    {{#each comments as |comment|}}
      <p>"{{comment.comment}}" - {{comment.user.user_name}}</p>
    {{/each}}
  {{/if}}

  <div class="row mt-4">
    <div class="w-full">
      <form class="form new-comment">
        <div>
          <label for="comment">Add a comment:</label>
          <input
            class="form-control mt-2"
            type="text"
            id="comment"
            name="comment"
          />
        </div>
        <div>
          <button type="submit" class="mt-4">Publish</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/comments.js"></script>